<section class="what-we-do">
  <div class="web item">
    <%= image_tag 'browser.png', alt: 'Web' %>
    <div class="text">
      <h1>Aplicativos Web</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec tempus justo. Fusce et bibendum augue. Aliquam nec tempus justo.</p>
    </div>
  </div>
  <div class="mobile item">
    <%= image_tag 'mobile.png', alt: 'Mobile' %>
    <div class="text">
      <h1>Aplicativos Mobile</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec tempus justo. Fusce et bibendum augue. Aliquam nec tempus justo.</p>
    </div>
  </div>
  <div class="sustainable item">
    <%= image_tag 'tree.png', alt: 'Tree' %>
    <div class="text">
      <h1>Plataformas<br>Sócio-ambientais</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec tempus justo. Fusce et bibendum augue.</p>
    </div>
  </div>
</section>
