<section id="work-with-us" class="work-with-us">
  <article>
    <h1>Estamos contratando</h1>
    <p>Somos uma empresa com ambiente descontraído, horários flexíveis. Nossas decisões são tomadas em equipe e estamos sempre abertos às novas tecnologias e tendências. Não temos medo de mudar e tentar novas soluções.</p>
    <a class="button" href="http://github.com/tracersoft/vagas" target="_blank">Veja nossas vagas disponíveis</a>
  </article>
</section>
